 * {
	padding: 0;
	margin: 0;
	font-size: 100%;
	line-height: 1em;
	}

body {
    width: 100%;
    font-size: 1.1em;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;; 
    margin: auto;
    text-align: justify;
    line-height: 1.3em;
    background: url(../images/happyshow.jpg) no-repeat fixed;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover; }
        
.photo {
    padding-bottom: 5em;
    
}

.header
{
    padding-top:0.5em;
    padding-bottom: 10em;
    
}

.header-wrap
{
    width:70%;
    height:100%;
    margin:auto;
    padding: 5em;
}

.text-body
{
    width: 75%;
    margin: auto;
}

.intro {
    width: 60%;
    margin: auto; }

article { 
    background: rgba(255, 255, 255, .9);
    width: 100%;
    padding-right: 1.5em;
    padding-left: 1.5em;
	}


    


/*------------TYPOGRAPHY-------------*/
   
        
     h1,h2,h3 {
           font-weight: bold;
            color: black;
			text-align: center;
            }

h1 { font-size: 5em;
      padding-top: 0.1em;}
        
        h3 {font-size: 2em;}

		h2 {
			font-size: 2em;
			text-align: center;
			line-height: 1.5em;
            font-weight: bold;
			}
			


.intro p
{
    font-size: 1.3em;
    margin-top: 2em;
    line-height: 1.5em;
    color:#777;
    line-height: 1.3em;
    padding: 0em 0 0em 0;
    padding-bottom: 2em;
}


p
{
    font-size: 1.25em;
    line-height:1.5em;
    margin-bottom: 1em;
}


		
blockquote{
			text-align: center;
			color: coral;
			padding: 2em 0;
			font-size: 1.5em;
			line-height: 1.5em;
			margin: 0;
			}


blockquote cite {
			font-size: .75em;
			}	
			

.anchor{
		text-transform: uppercase;
		font-size: 0.75em;
		}	




/*------------IMAGES-------------*/
img {
    display: block;
    margin: 1em auto; /* This sets the margin top and bottom to 0px. The auto on the left and right will automatically calculate the space either side and split it evenly between the two margins. */
    padding: 0;
    max-width: 100%; /* This means that the images will resize to fit the parent container instead of just rendering at its native width and overflowing its containing box. */
   /* border: #c06 5px solid; */
}

.socialicons a {
  opacity: 1;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.socialicons a hover {
  opacity: 0.8;
}

.socialicons li {
  display: inline;
  margin: 5px;
  color: #444;
}


.socialicons li img {
  width: 45px;
display: inline;
}

/*------------FOOTER-------------*/

footer {
    font-size: .5em;
	line-height: .5em;
	padding-bottom: 2em;
	text-align:center;
    
	}

h4 {
    padding-bottom: 1em; 
    padding-top: 4em;
    border-top: 1px solid #333;}


/*-----TABLET-------*/
@media (max-width: 50em) {
    
body {
}
    
article {
    width: 95%;
    padding: 0.5em;}
    
img {
    display: block;
    margin: 1em auto;
    padding: 0;
    max-width: 100%}
}


/*--------SMARTPHONE--------*/
@media (max-width: 31em) {
    
   body {
    padding-left: 0.5em;
    margin: auto 0;
    width: 100%;
    font-size: 100%;
    }
    
article {
    width: 90%;
    } 
h1 {font-size: 3.7em;}   
   
nav {font-size: .75em;
    margin: 20px}
    
blockquote { 
    font-size: 1.5em; }
    


